Files/apimodel.txt
Files/javascript_2021-12-05_02-46Z.zip
Files/LambdaCode.txt
Files/lambdasapis.js
Files/apiGateway-js-sdk/apigClient.js
Files/apiGateway-js-sdk/README.md
Files/apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js
Files/apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js
Files/apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js
Files/apiGateway-js-sdk/lib/apiGatewayCore/utils.js
Files/apiGateway-js-sdk/lib/axios/dist/axios.standalone.js
Files/apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js
Files/apiGateway-js-sdk/lib/CryptoJS/components/hmac.js
Files/apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js
Files/apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js
Files/apiGateway-js-sdk/lib/url-template/url-template.js
Front/lib/apiGatewayCore/apiGatewayClient.js
Front/lib/apiGatewayCore/sigV4Client.js
Front/lib/apiGatewayCore/simpleHttpClient.js
Front/lib/apiGatewayCore/utils.js
Front/lib/axios/dist/axios.standalone.js
Front/lib/CryptoJS/components/enc-base64.js
Front/lib/CryptoJS/components/hmac.js
Front/lib/CryptoJS/rollups/hmac-sha256.js
Front/lib/CryptoJS/rollups/sha256.js
Front/lib/url-template/url-template.js
Front/apigClient.js
Files/LambdaCode.txt
